/* 
fonts: 
font-family: 'Libre Barcode 39 Text', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Amatic SC', cursive;

FE1836

#FE1836 - red
#7B0000- dark Red
#76AEF3- blue
#291715- black
#F4E1E2- white/pink

#FFF3F0- white
*/

.headers{
    background-color: #F4E1E2;
    margin: 0;
    margin-top: -125px;
    height: 7em;
    position: fixed;
    width: 100%;
    clear: both;
}


body{
  margin:0;
  background-image: url("../photos/background.jpeg");
  background-size: 100%;
  background-repeat: repeat-y;
}

h1{
    font-family: 'Pacifico', cursive;
    text-align: center;
    padding-top: .5em;
}

.mainContent{
    background-color:rgba(255,243,240,0.85);
    width: 85%;
    margin: auto;
    margin-top: 7em;
}

#letter, .fav{
    width: 85%;
    padding-top: 1em;
    margin: auto;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.25em;
    color:#291715;
}

h2{
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 3.5em;
    text-align: center;
    color: #291715;
    padding: .2em;

}

.videos, .pictures{
    width: 85%;
    margin: auto;
}

.movie{
width:350px;
height: 200px;
}

.landscape{
    width: 350px;
    height: 500px;
    border-radius: 2%;
margin: 2em;
}

.photoText{
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    width: 350px;
    display: inline-block;
    margin: .5em;
}

.caption{
  text-align: center;
  font-weight: bold;
}

footer{
    text-align: center;
    color: #fff;
    margin-top: 2em;
}

#bitch{
    margin-left: 50em;
    position: relative;
}

#punisher{
    width: 16px;
    height: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

@media only screen and (min-width: 900px) {
    /* For desktop: */
    body{
        width:100%
    }
    
  }

  @media only screen and (max-width: 600px) {
    /* For cell phone*/
    .movie{
        width: 300px;
    }
.landscape{
    width:300px;
    height: 400px;
}
    html{
        width:235%;
    }
  }

  * The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}